.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 0;
  transform: translateY(-50%); /* Center vertically */
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%) rotate(45deg); /* Center and rotate */
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
}

.custom-checkbox:checked ~ .checkmark {
  background-color: #008cff;
  box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}

.custom-checkbox:checked ~ .checkmark:after {
  display: block;
}

@keyframes checkAnim {
  0% {
    height: 0;
  }

  100% {
    height: 10px;
  }
}

.custom-checkbox:checked ~ .checkmark:after {
  animation: checkAnim 0.2s forwards;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensure it's above other content */
}

.modal {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto; /* enable scrolling if content exceeds the viewport */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.blue-box {
  width: 100%;
  padding: 20px;
  background: rgb(17, 4, 134);
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px;
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: -2;
}

.eventBox{
  background-color: rgba(255, 255, 255, 0.40);
  width: 95%;
  min-height: 20px; /* Set a minimum height */
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: -3px -3px 15px rgb(0,140,255);
  margin-bottom: 4px;
  margin-left: 10px;
}